*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(imagens/fundo-madeira.jpg);
}

main{
    min-width: 100vh;
}

#logo{
    position: absolute;
    left: 95%;
}

.img{
    display: block;
    border: 1px solid transparent;
    border-radius: 200px;
    height: 3rem;
    margin-top: 1.5rem;
    
}

.img:hover{
    padding-left: .3rem;
}


iframe{
    position: absolute;
    margin-left: 35%;
    top: 4rem;
    border: 1px solid transparent;
}

.cel{
    z-index: calc(-1);
    position: fixed;
    height: 500px;
}

.imagens{
    padding-top: 4rem;
    padding-left: 1px;
    height: 340px;
    position: fixed;
}