*{
    margin: 0;
    padding: 0;
}

body, html{
    background-image: url(imagens/fundo-madeira.jpg);
    width: 100vw;
    height: 100vh;
}


.frame{
    left: 50%;
    top: 48.5%;
    transform: translate(-50%,-50%);
    position: absolute;
    height: 615px;
    width: 311px;
    border: 1px solid transparent;
    background: url(imagens/frame-iphone.png) no-repeat center center;
    
}

#logo{
    position: absolute;
    left: 100%;
    transform: translate(-120%);
}

.img{
    display: block;
    border: 1px solid transparent;
    border-radius: 200px;
    height: 3rem;
    margin-top: 2rem;
}

.img:hover{
    padding: .3rem;
    border: 1px solid white;
}

iframe{
    position: relative;
    top: 4.5rem;
    left: 1rem;
    width: 285.8px;
    height: 471.5px;
}